.mainHeader {
  display: flex;
}

.mainHeader nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  padding-inline-end: 40px;
}

.navList {
  display: flex;
  column-gap: 24px;
  list-style: none;
  margin-bottom: 0;
  padding-inline: 0 40px;
}
